* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root{
  min-height: calc(100vh - var(--bodyPaddingTop));
  display:flex;
  flex-direction: column;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.center p {
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -12px;
}
.column {
  box-sizing: border-box;
  margin-bottom: 12px;
  margin-left: 12px;
  background: #000;
}
.column-content {
  padding: 20px;
  color: #fff;
}

.col2 {
    width: calc(50% - 12px);
}
.col3 {
    width: calc(33.333% - 12px);
}        
.col4 {
    width: calc(25% - 12px);
}
.centerCheckbox{
    margin: 0 auto;
    width: 100%;
    margin-top: 10px;
}

.pageDefault{
  background-color: "#cacaca";
  margin:20px; 
}
